extends layout

block content
  form(method='POST', action=`/convert`)
    label(for='source') Source
    input#source.form-control(type='text', name='source' required)
    button.mt-4.btn.btn-primary(type='submit') Convert