include mixin/flash-messages

doctype html
html
  head
    title= title
    include partials/styles
    include partials/scripts
  body
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
      a.navbar-brand(href='/') Home
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.navbar-toggler-icon
      .collapse.navbar-collapse
        if user
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/download') Download
            li.nav-item
              a.nav-link(href='/convert') Convert
        
        ul.navbar-nav.ml-auto
          if !user
            li.nav-item
              a.nav-link(href='/auth/login') Log In
            li.nav-item
              a.nav-link(href='/auth/signup') Sign Up
          else
            li.nav-item
              a.nav-link(href='/auth/logout') Log Out

    .container.mt-4
      +flash-messages(messages)
      block content
    
    .py-5
    include layouts/footer