include mixin/flash-messages

doctype html
html
  head
    title= title
    include partials/styles
    include partials/scripts
  body

    +flash-messages(messages)

    .container
      block content
    
    .py-5
    include layouts/footer