include mixin/flash-messages

doctype html
html
  head
    title= title
    include partials/styles
    include partials/scripts
    link(rel='stylesheet', href='/css/style.css')
  body
  
    +flash-messages(messages)

    block content
    .py-5

    include layouts/footer